# FastAPI and Web Framework
fastapi
uvicorn[standard]
gunicorn
asgiref
azure-functions
pydantic-settings
pydantic[email]

# Core Dependencies
python-dotenv
requests
httpx
tenacity
python-dateutil

# Data Handling
pandas
simplejson
openpyxl

# Database
sqlalchemy
psycopg2-binary==2.9.9
psycopg[pool]==3.2.6

# LLM & AI
openai
pydantic==2.11.4
pydantic-ai==0.2.3
tiktoken
marqo==3.11.0
rapidfuzz

# Logfire
logfire

# Caching
redis
aiocache

# Authentication
PyJWT
cryptography

# Language and Localization
langcodes
language_data

# Template Engine
jinja2

# AWS
boto3

# Mapbox Geocoding
geopy