# Docs for the Azure Functions Deploy action: https://github.com/Azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Functions - oan-ai-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: oanmockserver.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_CCDE4A3AF22C4BF0A9D97EC74EC52BBE }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_BD87D33E36834A0BA6C172744C55B8F7 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: oanmockserver.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_CCDE4A3AF22C4BF0A9D97EC74EC52BBE }}/oan-ai-api:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_778D9209B5424B999BE80C89E99DD5D5 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9DD0C472CBE5454C8AB0CFD615469D6D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D2C1622770C74A5D970DCFF096A0EACC }}

      - name: Deploy to Azure Functions
        id: deploy-to-functions
        uses: azure/functions-deploy@v2
        with:
          app-name: 'oan-ai-api'
          slot-name: 'Production'
          images: 'oanmockserver.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_CCDE4A3AF22C4BF0A9D97EC74EC52BBE }}/oan-ai-api:${{ github.sha }}'
          